<div class="row">
	<form action="" role="form" ng-submit='search.getData()'>
		<div class='row'>
			<!-- Input for character one UI -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Enter your character name" ng-model='search.charIdOne'>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Enter your realm" ng-model='search.realmOne'>
				</div>		
			</div>
			<!-- Double axe image -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<p>Image palce holder</p>
			</div>
			<!-- Input for character two UI -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Enter your opponent character name" ng-model='search.charIdTwo'>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Enter your opponent's realm" ng-model='search.realmTwo'>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<!-- <pre>{{search | json}}</pre> -->
<hr>

<div class="row">
	<!-- Column output for WOW Charater one -->
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<img src="" alt="">
				<h4>{{search.data.charOne.name}}</h4>
				<p>{{search.data.charOne.realm}}</p>
				<h4 ng-show='{{search.charOneResults != null}}'>Your WoW ranking</h4>
				<h1>{{search.charOneResults | number : 0}}</h1>
			</div>
			<div>
				<a ui-sref="detail({ characId : search.data.charOne.name, realmId : search.data.charOne.realm })">Go to Character Details</a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

	<!-- Column output for WOW Character two -->
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- <img src="https://us.api.battle.net/wow/character/area-52/166/139145894-avatar.jpg?locale=en_US&apikey=gytkyzmwungqdy8fz9jqfcwqzhgr7skt" alt="" height="100px"> -->
				<h4>{{search.data.charTwo.name}}</h4>
				<p>{{search.data.charTwo.realm}}</p>
				<h4 ng-show='{{search.charTwoResults != null}}'>Your WoW ranking</h4>
				<h1>{{search.charTwoResults | number : 0}}</h1>
			</div>
			<div>
				<a ui-sref="detail({ characId : search.data.charTwo.name, realmId : search.data.charTwo.realm })">Go to Character Details</a>
			</div>
		</div>
	</div>
</div>

<!-- Message output for which character is better than the other -->
<div class="row">
	<div ng-if="{{search.charTwoResults < search.charOneResults}}">
		<p>1{{search.data.charOne.name}} pwns {{search.data.charTwo.name}}!</p>
		<p>git gud, {{search.data.charTwo.name}}!</p>		
	</div>
	<div ng-if='{{search.charTwoResults > search.charOneResults}}'>
		<p>2{{search.data.charTwo.name}} pwns {{search.data.charOne.name}}!</p>
		<p>git gud, {{search.data.charOne.name}}!</p>			
	</div>
</div>

<div class='row'>
	<span></span>
</div>


<div ui-view></div>